body{background-color: 	#bd662b;}
/* cria uma linha flexível para alinhar as imagens horizontalmente */
.row {
  display: flex;
}

/* cria uma coluna de imagem que ocupa 25% da largura da linha */
.column {
  flex: 25%;
  padding: 5px;
}

/* adiciona uma borda às imagens */
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}